body {
  font-family: 'Poppins', sans-serif;
}

.copyright {
  padding: 70px 0 0 0;
}

.copyright p {
  text-align: center;
  font-weight: 400;
  color: #6F6A86;
}

.btn-master, .btn-primary, .btn-secondary {
  padding: 11px 36px 11px 36px;
  border-radius: 100px;
  border: 0;
  font-weight: 500;
}

.btn-primary {
  background: #FEC400;
  color: #fff;
}

.btn-primary:hover {
  background: #D07B13;
}

.text-yellow {
  color: #FEC400;
}

.text-white {
  color: #fff !important;
}

.btn-secondary {
  background: #F5EFFF;
  color: #7839F3;
}

.btn-logout {
  background: #f33939;
  color: #fff !important;
  padding: 8px 25px 8px 25px;
  border-radius: 10px;
  border: 0;
  font-weight: 500;
}

.banner {
  padding: 80px 0 80px 0;
}

.banner .copywriting {
  padding-top: 80px;
}

.banner .header {
  margin: 20px 0 20px 0;
  font-size: 42px;
  color: #211B3D;
  font-weight: 600;
}

.banner .support {
  font-size: 16px;
  font-weight: 400;
  color: #5B5575;
  line-height: 30px;
}

.banner .cta {
  margin-top: 30px;
}

.banner .brands {
  margin-top: 60px;
}

.banner .brands img {
  height: 30px;
}

.text-green {
  color: #31B380 !important;
}

.text-red {
  color: #f73353 !important;
}

.navbar {
  box-shadow: 1px 8px 61px 0px rgba(22, 28, 51, 0.08);
  -webkit-box-shadow: 1px 8px 61px 0px rgba(22, 28, 51, 0.08);
  -moz-box-shadow: 1px 8px 61px 0px rgba(22, 28, 51, 0.08);
  padding: 24px 0 24px 0;
}

.navbar .navbar-nav .nav-link {
  color: #211B3D;
  font-weight: 400;
  padding-left: 30px;
}

.navbar .navbar-nav .active {
  color: #FEC400 !important;
  font-weight: 500;
}

.navbar .navbar-brand img {
  height: 42px;
}
/*# sourceMappingURL=main.css.map */
